{% if uploads %}
    {% for upload in uploads %}
        {% if from_page == "index" %}
        <div class="d-flex align-items-center gap-1">
            <form method="post" action="/filetable" class="flex-grow-1" style="max-width: 100%; overflow: hidden;">
                <input type="hidden" name="file_id" value="{{ upload.id }}">
                <button class="btn btn-outline-primary w-100 text-truncate" type="submit">
                    {{ upload.filename }}
                </button>
            </form>

            <form method="post" action="/delete_file" onsubmit="return confirm('Do you want to delete this file?');">
                <input type="hidden" name="filename" value="{{ upload.filename }}">
                <button type="submit" class="btn btn-sm btn-primary px-2">
                    <i class="bi bi-x-lg text-white"></i>
                </button>
            </form>
        </div>
        
        {% elif from_page == "dashboard" %}
        <div class="d-flex align-items-center">
            <form method="post" action="/dashboard" class="flex-grow-1" style="max-width: 100%; overflow: hidden;">
                <input type="hidden" name="file_id" value="{{ upload.id }}">
                <button class="btn btn-outline-primary w-100 text-truncate" type="submit">
                    {{ upload.filename }}
                </button>
            </form> 
        </div>   
        {% endif %}
    {% endfor %}
{% endif %}
