{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}
<div class="container">
    <div class="row g-4">
        <!-- Coluna esquerda: uploads -->
        <div class="col-md-4">
            <div class="text-light shadow-lg rounded-4 p-3">
                <h3 class="card-title mb-3 text-dark" >Avaliable files:</h3>
                <div class="mb-3">
                    {% include "partials/uploads_list.html" %}
                </div>

                <form action="/upload" method="post" enctype="multipart/form-data" class="d-flex flex-column gap-2">
                    <input type="file" name="file" class="form-control bg-secondary text-light border-0">
                    <button type="submit" class="btn btn-primary">Upload</button>
                </form>
            </div>
        </div>

        <!-- Coluna direita: tabela -->
        <div class="col-md-8">
            {% if table_data and headers %}
            <div class="shadow-lg rounded-4 p-3">
                <h5 class="card-title mb-3">{{ filename }} </h5>

                <div class="table-responsive">
                    <table class="table table-striped table-hover table-bordered table-sm align-middle">
                        <thead class="table-secondary text-dark">
                            <tr>
                                {% for header in headers %}
                                    <th scope="col">{{ header }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in table_data %}
                            <tr>
                                {% for header in headers %}
                                    <td>{{ row[header] }}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% else %}
                <div class="text-center text-muted mt-5">
                    <p>Nenhum arquivo selecionado.</p>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
